body{
    margin: 0;
    padding: 0;
    background-image: url(./image/index_bg.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
    align-self: center;
    min-width: 400px;
    min-height: 250px;
    backdrop-filter: blur(120px);
    background-color: rgba(128, 128, 128, 0.500);
    border-radius: 5px;

    .small_box{
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;

        a{
            margin: 1em;
            padding: 1em;
            background-color: rgb(52, 52, 223);
            border-radius: 5px;
            font-size: 14px;
            color: white;
        }
    }
}