@import "./root";

.info {
  margin: 1em 5em;
  p {
    text-align: justify;
  }
}
#pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;

  canvas {
    margin-bottom: 2px;
    border: 1px solid $blue;
    cursor: not-allowed;
  }
}
