@import "./root";

h1 {
  text-align: center;
  text-decoration: underline 2px $blue dashed;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0.5em 0 1em 0;

  @include max-width(768px) {
    font-size: 24px;
    margin-bottom: 2em;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  @include max-width(768px) {
    & {
      font-size: 60%;
    }
  }

  th {
    background-color: $blue_dark;
    color: $blue_white;
  }

  tr {
    text-align: center;
    &:nth-child(odd) {
      background-color: $blue_white;
    }
  }

  th,
  td {
    padding: 0.3em 0.5em;
    border: 1px solid $blue_light;
  }
}
