@import "./root";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $blue_white;
  padding: 3em;
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/feedback_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: calc(-100px / 1.5);
    left: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }

  div {
    display: flex;
    gap: 0.5em;
    font-weight: 600;
    background-color: rgba($blue, 0.3);
    padding: 0.5em 1em;
    border-radius: 10px;

    a {
      text-decoration: none;
      color: white;
      transition: all 0.2s linear;

      &:hover {
        scale: 1.1;
        text-decoration: underline;
      }
    }
  }

  @include max-width(768px) {
    padding: 1em;
    height: 200px !important;
    font-size: 70%;

    h1 {
      font-weight: 500;
    }
  }
}

.feedback {
  margin: 3em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  z-index: 9999;

  @include max-width(768px) {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1em;
  }

  .title {
    margin: 1em;

    h4 {
      font-weight: 500;
      font-size: 20px;
    }
  }

  span {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;

    .required::after {
      content: " *";
      color: red;
    }

    input,
    option,
    select,
    textarea {
      border: 1px solid rgba($blue, 0.3);
      &:active,
      &:focus,
      &:hover,
      &:visited {
        border: 1px solid rgba($blue, 0.3);
      }
    }

    textarea {
      resize: vertical;
      min-height: 4em; // reduce unexpected resizing
    }

    .bullet-options {
      label {
        margin: auto 1em auto auto;
      }
    }

    label {
      margin-bottom: 0.3em;
    }

    select {
      height: 2.7em !important;
    }

    @include max-width(768px) {
      * {
        margin: 0;
        padding: 0.5em 0 0.5em 0.5em;
        width: 100%;
        font-size: 90% !important;
      }
    }
  }

  .subject,
  .box-1,
  .category,
  .message,
  .box-7,
  .box-2,
  .subject,
  .optional {
    grid-column: span 2;
  }

  .submit {
    transition: background-color 0.3s linear;

    &:hover {
      color: $blue;
      background-color: $blue_white;
    }
  }

  .successful {
    text-align: right;
    padding: 0.2em;
    color: green;
    opacity: 0;
    animation-name: successful;
    animation-duration: 5s;
  }

  @keyframes successful {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
