@import "./root";

footer {
  padding: 1em 2em;
  background-color: $blue_dark;

  @include max-width(768px) {
    padding: 1em 1em;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;

    @include max-width(768px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1em;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 0.7em;

      @include max-width(768px) {
        gap: 0em;
      }

      h3 {
        color: $blue_white;

        @include max-width(768px) {
          font-size: 80%;
        }
      }

      a {
        text-decoration: none;
        text-align: left;
        color: $blue_white;
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;

        @include max-width(768px) {
          font-size: 70%;
        }

        &:hover {
          opacity: 1;
        }
      }

      p {
        font-weight: 400;
        color: $blue_light;
        line-height: 2.2em;

        strong {
          color: $blue_white;
          font-style: italic;
          font-weight: 500;
        }

        @include max-width(768px) {
          font-size: 70%;
          line-height: 1.5em;
        }
      }

      .warning {
        color: red;
        font-size: 10px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        font-style: italic;
      }

      .default_location:not(:last-child) {
        border-bottom: 1px solid rgba($blue_white, 0.2);
      }
    }
  }

  .bottom_line {
    border-top: 1px dashed $blue_light;
    margin-top: 0.5em;
    padding-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .social {
      display: flex;
      gap: 3em;
      justify-content: space-around;

      @include max-width(768px) {
        gap: 1em;
      }

      a {
        text-align: center;
        color: $blue_white;
        padding: 0.5em;
        width: 30px;
        aspect-ratio: 1;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
        @include max-width(768px) {
          width: 24px;
          font-size: 70%;
        }

        &:hover {
          background-color: rgba($blue_white, 0.2);
        }
      }
    }

    .marker {
      display: flex;
      flex-direction: column;
      font-size: 10px;

      @include max-width(768px) {
        font-size: 8px;
      }

      a {
        text-decoration: none;
        font-weight: 400;
        color: $blue_white;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 1;
        }

        span {
          font-weight: 900;
          padding: 0 5px;
        }
      }
    }
  }
}
