@import "./root";

body {
  background-color: rgba($blue_white, 0.5);
}

header {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 3em;
  background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.8) 30%, rgba(0, 212, 255, 0) 100%), url(../image/city_pan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include max-width(768px) {
    height: 30vh;
  }

  h1 {
    font-size: 30px;
  }

  p {
    padding: 1.5em 0;
  }

  a {
    background-color: $blue;
    max-width: 100px;
    padding: 0.8em;
    text-decoration: none;
    text-align: center;
    color: $blue_white;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: none;
      font-weight: 600;
    }

    @include max-width(768px) {
      font-size: 80%;
      max-width: 80px;
    }
  }

  @include max-width(768px) {
    h1 {
      font-size: 25px;
    }

    p {
      font-size: 70%;
    }
  }
}

// watch mpf line 60
.mpf_wrapper {
  width: 100%;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)), url(../image/mpf_bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  .mpf {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 1em;
    // max-width: 70vw;
  }
}

.safety_title {
  margin: 2em 0 1em 2.5em;

  @include max-width(768px) {
    margin: 0.5em;
    font-size: 20px;
  }
}

.safety {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em 5em;
  gap: 5em;

  @include max-width(768px) {
    margin: 0.5em;
    grid-template-columns: 1fr;
    gap: 2em;
  }

  div {
    img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      background-position: bottom;

      @include max-width(768px) {
        height: 40vh;
      }
    }

    h3 {
      font-weight: 500;
      margin: 0.5em 0;
      @include max-width(768px) {
        font-size: 90%;
      }
    }

    p {
      opacity: 0.7;
      text-align: justify;

      @include max-width(768px) {
        font-size: 70%;
      }
    }

    h3,
    p {
      color: $blue_dark;
    }
  }
}
