@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate(0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

:root {
  --travel-slider-height: 300px;
  --travel-slider-city-image-size: 120px;
  --travel-slider-vertical-padding: 64px;
}

.travel-slider {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.travel-slider .swiper {
  height: var(--travel-slider-height);
  padding-top: var(--travel-slider-vertical-padding);
  padding-bottom: var(--travel-slider-vertical-padding);
}

.travel-slider .swiper-slide {
  width: 80%;
  max-width: 540px;
  box-sizing: border-box;
  position: relative;
}

.travel-slider-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background-image: url(../image/loading.svg), linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 10px 20px #00000080, 0 -1px #ffffff80;
}

.travel-slider-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 32px;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  line-height: 1.25;
  border-radius: 0 0 16px 16px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.travel-slider-title {
  font-weight: 600;
  font-size: 24px;
}

.travel-slider-subtitle {
  font-size: 12px;
  font-weight: 400;
}

.travel-slider-subtitle-logo {
  color: #fff;
  font-size: 10px;
}

.travel-slider-planet {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.travel-slider-planet > img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.travel-slider-cities img {
  --travel-slider-planet-size: calc(var(--travel-slider-height) + var(--travel-slider-vertical-padding) * 2);
  --travel-slider-image-rotate: 0deg;
  --travel-slider-image-scale: 1;
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translate(-50%) scale(var(--travel-slider-image-scale)) rotate(var(--travel-slider-image-rotate));
  transform-origin: center calc(var(--travel-slider-planet-size) / 2 * 0.95 * 0.95 + var(--travel-slider-city-image-size) * 1);
  height: var(--travel-slider-city-image-size);
  width: var(--travel-slider-city-image-size);
  object-position: center bottom;
  object-fit: contain;
}

.travel-slider-cities-8 img:nth-child(2) {
  --travel-slider-image-rotate: 45deg;
}

.travel-slider-cities-8 img:nth-child(3) {
  --travel-slider-image-rotate: 90deg;
}

.travel-slider-cities-8 img:nth-child(4) {
  --travel-slider-image-rotate: 135deg;
}

.travel-slider-cities-8 img:nth-child(5) {
  --travel-slider-image-rotate: 180deg;
}

.travel-slider-cities-8 img:nth-child(6) {
  --travel-slider-image-rotate: 225deg;
}

.travel-slider-cities-8 img:nth-child(7) {
  --travel-slider-image-rotate: 270deg;
}

.travel-slider-cities-8 img:nth-child(8) {
  --travel-slider-image-rotate: 315deg;
}

.travel-slider-cities-4 img:nth-child(2) {
  --travel-slider-image-rotate: 90deg;
}

.travel-slider-cities-4 img:nth-child(3) {
  --travel-slider-image-rotate: 180deg;
}

.travel-slider-cities-4 img:nth-child(4) {
  --travel-slider-image-rotate: 270deg;
}

/* body {
  background: #ccc;
  color: #000;
  line-height: 1.5;
  font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #6c08ca, #fff);
} */

#app {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.travel-slider:after {
  content: "";
  position: absolute;
  height: 50vh;
  top: 50%;
  width: 100%;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #b0a5d1 50%);
}
