@import "./root";

@mixin newMorph {
  box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.1) inset, -5px 5px 10px rgba(255, 255, 255, 0.8) inset;
}

body {
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(../image/a.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: bottom;

  @include max-width(768px) {
    background-image: linear-gradient(to top, white, rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../image/a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}

header {
  height: 50vh;
  display: flex;
  align-items: center;

  @include max-width(768px) {
    height: 40vh;
  }

  h1 {
    color: $blue_white;
    margin: 0.5em;
    font-weight: 800;
    font-size: 50px;

    @include max-width(768px) {
      font-size: 30px;
    }
  }

  p {
    text-align: justify;
    margin: 0 1.5em;
    max-width: 33vw;

    @include max-width(768px) {
      max-width: 100%;
    }
  }
}

form {
  position: relative;

  @media (max-width: 768px) {
    padding: 1.5em 0;
    margin: 2em 1em;
    background-color: rgba($blue_white, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .destination {
    display: flex;
    gap: 1em;
    justify-content: center;
    border-radius: 10px;

    @include max-width(768px) {
      flex-wrap: wrap;
    }

    select,
    input {
      // max-width: 200px;
      // height: 100px;
      padding: 1em 0.5em;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0);
      border: none;

      &:focus,
      &:active {
        border: none;
      }
    }

    .date {
      display: flex;
      gap: 1em;

      @include max-width(768px) {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  .box {
    max-width: 300px;
    min-width: 250px;
    max-height: 80px;
    padding: 1em;

    @include max-width(768px) {
      width: 100% !important;
      margin: 0em;
      @include newMorph;
    }
  }

  .box,
  .box_2 {
    color: $blue_dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba($blue_light, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  label {
    font-weight: 800;
  }

  .more_info {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;

    @include max-width(768px) {
      flex-wrap: wrap;
      gap: 0em;
    }

    .box_2 {
      margin: 1em;
      min-height: 80px;
      width: calc(60vw / 4);
      padding: 0.5em 1em;

      @media (max-width: 768px) {
        width: 100%;
        margin: 0.5em;
        @include newMorph;
      }

      input,
      select {
        border: none;
        outline: none;
        background-color: transparent;
        &:focus,
        &:active {
          border: none;
        }
      }
    }
  }

  #submit {
    display: flex;
    justify-content: center;
    .submit {
      width: 140px;
      margin: 0 0 2em 0;
      padding: 0.5em 1em;
      outline: none;
      border: none;
      border-radius: 5px;
      transition: all 0.1s linear;

      &:hover {
        color: $blue;
        background-color: $blue_white;
      }
    }
  }
}
