@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
$blue_white: #d4e9f0;
$blue: #1d92ccd1;
$blue_dark: #385a63;
$blue_light: #b4d4d8;
$bg: #105274;

// default mode = light
// color for dark mode
$d_bg: #1f1f1f;
$d_text: rgb(222, 222, 222); // text color---white

// /*
// Detect if a user has requested light or dark color themes. A user indicates their preference through an operating system setting (e.g. light or dark mode) or a user agent setting.
// */
body {
  // also overwrite browser default BG color. it helps when use neumorphism
  background-color: rgba($blue_white, 0.4) !important;

  @media (prefers-color-scheme: dark) {
    color: $d_text; // not important, because it can be overwrite...
    background-color: $d_bg !important; // Switch to dark mode background in dark mode

    * {
      // recheck
      color: $d_text; // don't use !important, so that it can be overwrite...
    }
  }
}

@mixin themed-bg($opacity: 0.3) {
  // default mode is light
  background-color: rgba($blue_light, $opacity); // Default BG color for light mode

  @media (prefers-color-scheme: dark) {
    background-color: rgba($blue_dark, $opacity); // Change the BG color for dark mode
  }
}

//////////////scrollbar//////////
html {
  // width
  ::-webkit-scrollbar {
    width: 5px;
    transition-property: width;
    transition-duration: 3s;

    &:hover {
      width: 10px;
    }
  }

  // Track
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $blue;
  }

  //  Handle
  ::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 10px;

    &:hover {
      background: $blue_dark;
    }
  }
}

* {
  font-family: "Poppins", sans-serif;
  // color: $blue_white;
  margin: 0;
  padding: 0;

  .submit,
  button,
  a {
    &:hover {
      cursor: pointer;
    }
  }

  .submit {
    font-weight: 500;
    font-size: 16px;
    color: $blue_white;
    background-color: $blue;
    transition: all 0.2s linear;

    &:hover {
      color: $blue;
      background-color: $blue_white;
      // border: 1px solid $blue_white;
    }
  }

  input {
    padding: 0.5em;
    border: none;
    outline: none;
  }

  select {
    @include themed-bg;
  }

  option {
    @include themed-bg; // we keep our style sheet flexible. so it sometimes not work. because of :root style of the browser...
    // overwrite the style
    color: black !important; // overwrite L19 or L23
    background-color: rgba(0, 0, 0, 0) !important;
  }

  &::placeholder {
    font-style: italic;
  }

  th {
    white-space: nowrap;
  }
}
