@import "./root";

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background-image: url(./login_bg.webp);
  background-position: top;
  background-size: cover;
  backdrop-filter: blur(8px);
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba($blue_light, 0.3);
  padding: 1em;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  input {
    border: none;
    outline: none;
    background-color: $blue_light;
    border-radius: 5px;
    padding: 0.5em 1em;
    min-width: 250px;
  }

  .submit {
    border-radius: 30px;
  }

  .warning {
    color: red;
    font-size: 10px;
  }
}
