@import "./root";

.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .graph {
    width: 40vw;
    max-height: 50vh;
    margin: 1em;
    padding: 0.5em;
    // background-color: $blue_white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), 0px 0px 100px rgba($blue_light, 0.4) inset;
  }
}
