@import "../root/root";

body {
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(../image/a.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: bottom;
}

header {
  height: 50vh;
  display: flex;
  align-items: center;

  h1 {
    color: $blue_white;
    margin: 0.5em;
    font-weight: 800;
    font-size: 50px;
  }

  p {
    margin: 0 1.5em;
    max-width: 33vw;
  }
}

form {
  .destination {
    display: flex;
    gap: 1em;
    justify-content: center;
    border-radius: 10px;
    border-radius: 10px;
    select,
    input {
      // max-width: 200px;
      // height: 100px;
      padding: 1em 0.5em;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0);
      border: none;

      &:focus,
      &:active {
        border: none;
      }
    }
    .date {
      display: flex;
      gap: 1em;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 250px;
    max-height: 80px;
    // background-color: $blue_light;
    background-color: rgba($blue_light, 0.5);
    padding: 1em;
    border-radius: 10px;
    // align-items: center;
    color: $blue_dark;
  }

  label {
    font-weight: 800;
  }

  .more_info {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    // background-color: rgba($blue_light, 0.5);

    .box_2 {
      margin: 1em;
      display: flex;
      flex-direction: column;
      min-height: 80px;
      max-width: 200px;
      min-width: 100px;
      color: $blue_dark;
      justify-content: center;
      background-color: rgba($blue_light, 0.5);
      border-radius: 5px;
      padding: 0.5em 1em;
      input,
      select {
        &:focus,
        &:active {
          border: none;
        }
      }
    }
  }

  .submit {
    position: absolute;
    bottom: 2em;
    right: 50%;
    width: 140px;
    background-color: rgba($blue_light, 0.8);
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius: 5px;
  }
}
