@import "../../root/root";

.container {
  margin: 2em;

  form {
    margin: 1em 0;
    input {
      background-color: rgba($blue_light, 0.5);
      outline: none;
      border: none;
      padding: 0.2em;
      border-radius: 5px;
    }

    .submit {
      padding: 0.2em;
      border-radius: 5px;
      font-size: 14px;
      border: none;
    }

    .delete {
      background-color: rgba(255, 0, 0, 0.7);
      font-style: italic;
    }
  }
}
